.orderItem_container{
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
}
.itemInfoBlock{
    display: flex;
    justify-content: space-between;
    width: 60%;
}